
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
}

.heading{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-top: 80px;
}

.inputTextArea{
    width: 100%;
    margin-top: 50px;
}

.inputTextArea textarea{
    width: 100%;
    height: 200px;
}

.btns{
   display: flex;
   flex-wrap: wrap;
   margin: 10px 0;
}

.btns button{
    margin-right: 10px;
    margin-bottom: 5px;
}

.summery{
    margin-top: 30px;
}

.summery h1{
    font-size: 30px;
}

.summery p{
    margin-left: 5px;
}

@media screen and (max-width: 500px) {
    .main{
        padding: 0 10px;
    }
    .heading {
        font-size: 20px;
        margin-top: 20px;
    }   

    h2{
        font-size: 15px;
    }

    .inputTextArea textarea{
        width: 100%;
        height: 100px;
    }

    .btns button{
       font-size: 13px;
       padding: 2px 5px;
    }

    .summery{
        margin-top: 20px;
    }
    
    .summery h1{
        font-size: 20px;
    }
    
    .summery p{
        margin: 0;
    }
}